<div class='left-area'>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio debitis pariatur, eaque adipisci possimus quod maiores magnam facilis aspernatur? Excepturi praesentium aspernatur quisquam quam sunt id commodi esse est ut.</p>
</div>
<div class="right-area">
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio debitis pariatur, eaque adipisci possimus quod maiores magnam facilis aspernatur? Excepturi praesentium aspernatur quisquam quam sunt id commodi esse est ut.</p>
</div>