@import "../style/colors";
@import "../style/responsive";

.grid {
    display: grid;
    grid-gap: 0.5rem;
    height: 100vh;

    .footer {
        grid-area: footer;
        text-align: center;
        line-height: 3rem;
        background: #555;
    }

    @include for-size(phone-only) {

        // Grid
        grid-template-rows: auto;
        grid-template-columns: auto;
        grid-template-areas: "header" "content" "footer";
        
        grid-template-rows: 50vh;        
    }

    @include for-size(tablet-portrait-up) {
        grid-template-areas: 
            "header"
            "content"
            "footer";
        grid-template-rows: 100px 1fr 3rem;
    }

    @include for-size(tablet-landscape-up) {

    }
}

